.accordian-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.card-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
}
.card-header{
    /* border-bottom: 1px solid; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-desc{
    padding: 10px;
}
.arrow-image{
    width: 15px;
    height: 15px;
}
.arrow-down{
    transform: rotate(180deg);
}