
.header-section{
  display: flex;
  gap: 20px;
  background-color: black;
  padding: 20px;
}
.header-item{
  cursor: pointer;
  color: white;
  text-decoration: none;
  
}
.header-item:hover{
  color: rgb(216, 143, 143);
  text-decoration: underline;
}
.active{
  color: rgb(216, 143, 143);
  text-decoration: underline;
}